.shadow {
  position: relative;
  -webkit-filter: drop-shadow(3px 15px 73px #FFB5B5);
  filter: drop-shadow(3px 15px 73px #FFB5B5);
}

.form {
  width: 565px;
  height: 917px;
  background: rgba(255, 255, 255, 1);
  position: absolute;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
  top: 82px;
  left: 415px;
  /* z-index: 2; */
}